<div class="related-link-item">
    <a href="#" class="related-link-item__link">
        <svg class="related-link-item__icon" width="21px" height="21px">
            <use xlink:href="#external"></use>
        </svg>
        <div class="related-link-item__label">External link</div>
    </a>
</div>
