<div class="search-toggle">
    <div class="search-toggle__container">
        <a aria-label="Toggle Search" class="search-toggle__link" href="#">
            <svg class="search-toggle__icon" width="24" height="24">
                <use xlink:href="#search" />
            </svg>
            <svg class="search-toggle__icon-close" width="24" height="24">
                <use xlink:href="#close" />
            </svg>
        </a>
    </div>
</div>
