<div class="social-link-item social-link-item--{{ icon }}">
    <a aria-label="{{ title }}" class="social-link-item__link" href="#">
        <svg class="social-link-item__icon" width="42px" height="42px">
            <use xlink:href="#{{ icon }}"></use>
        </svg>
        <span class="social-link-item__label">{{ title }}</span>
    </a>
</div>
