<a href="#" class="btn btn--primary"><span class="btn__container">Button primary</span></a>
<a href="#" class="btn btn--secondary"><span class="btn__container">Button secondary</span></a>
<a href="#" class="btn btn--transparent"><span class="btn__container">Button transparent</span></a>
