<div class="hero-actions-item">
    <a class="hero-actions-item__link btn btn--primary btn--icon" data-fancybox id="Project name-in-100-seconds" data-src="#homepage-video" href="javascript:;">
        <span class="btn__container">
            <span class="hero-actions-item__label btn__label">Project name in 100 seconds</span>
            <svg class="hero-actions-item__icon btn__icon" width="24" height="24">
                <use xlink:href="#play" />
            </svg>
        </span>
    </a>
</div>
