/*------------------------------------*\
    $App header
\*------------------------------------*/

.header {
    @include gutter(0, 0, 0, 0);
    $root: &;
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: $color--white;
    border-bottom: 1px solid transparent;
    // sass-lint:disable indentation
    transition: background-color $default-transition-speed ease 0s,
                border-bottom $default-transition-speed ease 0s;
    // sass-lint:enddisable

    &__container {
        @include gutter(0.5, 1, 0.5, 1);
        @include aligner;
        transition: padding $default-transition-speed ease 0s;

        @include media-query(laptop) {
            @include gutter(0.75, 1, 0, 1);
        }

        @include media-query(wide) {
            @include gutter(0.5, 0, 0, 0);
        }

    }

    &__content {
        display: flex;
        justify-content: space-between;
        top: ($grid / 4);

        @include media-query(tablet) {
            align-items: stretch;
        }

    }

    &__search-toggle {
        display: flex;
        align-items: center;

        @include media-query(laptop) {
            display: none;
        }

    }

    &__home-link {

        @include media-query(tablet) {
            flex-basis: auto;
        }

        @include media-query(laptop) {
            // Bottom gutter should match header__container top gutter
            @include gutter(0, 0, 0.75, 0);
        }

        @include media-query(desktop) {
            display: flex;
            align-items: flex-end;
        }

        @include media-query(wide) {
            @include gutter(0, 0, 0.5, 0);
        }

    }

    &__nav-container {

        @include media-query(laptop) {
            display: flex;
            flex-direction: column;
            flex-basis: auto;
            justify-content: space-between;
        }

    }

    &__navigation {
        display: flex;
        align-items: center;
        height: 100%;

        @include media-query(laptop) {
            height: auto;
        }

    }

    &__audience-navigation {
        @include font-size(s);
        display: none;

        @include media-query(laptop) {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

    }

    // Animations

    @keyframes fadein {

        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }

    }

}
