<div class="inline-cta">
    <div class="inline-cta__container">
        <p class="inline-cta__text">Continue reading about our work in the public sector.</p>
        <a class="inline-cta__action" href="#">Read our blog</a>
    </div>
</div>
