<div class="blockquote">
    <div class="blockquote__container">
        <blockquote class="blockquote__item">
            <p class="blockquote__quote">What we need are alternative horizons that spark the imagination. And I do mean horizons in the plural; conflicting utopias are the lifeblood of democracy after all.</p>
            <cite class="blockquote__author">Billy Jenkins</cite>
        </blockquote>
    </div>
</div>
