/*------------------------------------*\
    $App
\*------------------------------------*/

.app {

    // Mobile nav
    &__navigation {
        position: fixed;
        z-index: 9;
        left: 0;
        opacity: 0;
        pointer-events: none;
        width: 100%;
        height: 100%;
        background-color: $color--overlay;
        will-change: transform;
        transform: translate3d(0, -200%, 0);
        // sass-lint:disable indentation
        transition: transform 900ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                    opacity $default-transition-speed cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        // sass-lint:enddisable

        &.open {
            transform: translate3d(0%, 0, 0);
            opacity: 1;
            pointer-events: auto;

            .headroom--top & {

                @include media-query(laptop) {
                    transform: translate3d(0, -200%, 0);
                    opacity: 0;
                    pointer-events: none;
                }

            }

        }

    }

    &__search {
        @include gutter(1, 1, 1, 1);
        position: fixed;
        z-index: 9;
        top: 0;
        left: 0;
        opacity: 0;
        pointer-events: none;
        width: 100%;
        height: 100%;
        background: $color--overlay;
        will-change: transform;
        transform: translate3d(0, -200%, 0);
        // sass-lint:disable indentation
        transition: transform $default-transition-speed cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                    opacity $default-transition-speed cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        // sass-lint:enddisable

        @include media-query(laptop) {
            top: 0;
        }

        &.open {
            transform: translate3d(0%, 0, 0);
            opacity: 1;
            pointer-events: auto;
        }

    }

    &__skip {
        position: absolute;
        left: -10000px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }

    &__sprites {
        display: none;
    }

}

.menu-active {
    overflow: hidden;
}
