.form {
    @include gutter(0, 0, 2, 0);
    $root: &;

    &__group {
        @include gutter(0, 0, 0.5, 0);
        border: 0;
        background-color: transparent;

        .newsletter & {

            @include media-query(desktop) {
                @include gutter(0, 0.5, 0.5, 0.5);
                flex-basis: 50%;
                min-width: 50%;
                max-width: 50%;
            }

            &:nth-child(2) {

                #{$root}__group-heading {
                    display: none;
                }

            }

        }

        .template__form & {
            @include gutter(0, 0, 1, 0);
        }

    }

    &__group-container {

        .template__form & {
            @include gutter(1, 1, 1, 1);
            border: 1px solid $color--border-light;
        }

        .newsletter & {
            position: relative;

            .select__icon {
                pointer-events: none;
                top: auto;
                bottom: ($grid);
                fill: $color--white;
            }

        }

    }

    &__group-heading {
        @include gutter(0, 0, 0.5, 0);
        @include font-size(l);
        margin-bottom: 0;
        color: $color--black;

        .newsletter--dark & {
            display: none;
            color: $color--white;
        }

    }

    &__item {
        @include gutter(0, 0, 0.75, 0);
        clear: both;

        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }

        li {

            label {
                display: flex;
                align-items: center;

                .form__input--radio {
                    width: ($grid);
                }

            }

        }

        .newsletter & {
            @include gutter(0, 0, 0.5, 0);

            // Mailchimp overrides
            select {
                @include font-size(default);
                @include gutter(0.2, 0.25, 0.2, 0.25);
                position: relative;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                display: block;
                background-color: transparent;
                border-radius: 0;
                border: 1px solid $color--white;
                width: 100%;
                color: #91849d;
            }

        }

        &--heading {
            margin-bottom: 0;
        }

        &--input,
        &--select {

            label {

                .newsletter__form & {
                    display: none;
                }

            }

        }

        &--multi-select {
            width: 100%;
        }

        &--select {

            select {
                @include font-size(default);
                @include gutter(0.2, 0.25, 0.2, 0.25);
                position: relative;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                display: block;
                background-color: transparent;
                border-radius: 0;
                border: 1px solid $color--border;
                width: 100%;
                color: $color--black;

                .newsletter__form & {
                    border-color: $color--white;
                    color: #91849d;
                }

            }

        }

        // Django form overrides
        &--checkbox_select_multiple {

            ul input {
                @include gutter(0, 0, 0, 0);
                width: auto;
                min-width: 0;
                margin-right: ($grid / 4);
            }

        }

        &--checkbox_input {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            .form__label {
                order: 2;
            }

            .form__input--checkbox {
                @include gutter(0, 0, 0, 0);
                order: 1;
                width: auto;
                min-width: 0;
                margin-right: ($grid / 4);
            }

            .form__description {
                order: 3;
                flex-basis: 100%;
            }


        }

    }

    &__action {
        @include gutter(0, 0, 0, 0);
    }

    &__item-heading {
        @include font-size(s);
        margin-bottom: 0;
    }

    &__label {
        @include gutter(0, 0, 0, 0);
        @include font-size(default);
        display: block;
        color: $color--black;

        .newsletter & {
            @include gutter(0, 0, 0.2, 0);
        }

        .newsletter--dark & {
            color: $color--white;
        }

    }

    &__input,
    .form__item--date_input input {
        @include gutter(0.1, 0.2, 0.1, 0);
        border: 0;
        min-width: 300px;
        width: 100%;
        cursor: pointer;
        background-image: linear-gradient(180deg, transparent 98%, $color--primary 0);
        background-size: 0 100%;
        background-repeat: no-repeat;
        text-decoration: none;
        background-color: transparent;
        border-radius: 0; // Stop safari adding rounded corners
        border-bottom: 1px solid $color--primary;

        &--xsmall {
            width: 50px;
        }

        &--small {
            width: 200px;
        }

        &--medium {
            width: 400px;
        }

        &--large {
            width: 100%;
        }

        &--radio {
            float: left;
        }

        &:focus {
            outline: 0;
            border-color: $color--black;
            background-size: 100% 100%;
            background-image: linear-gradient(180deg, transparent 98%, $color--secondary 0);
            border-bottom: 1px solid transparent;

            .search-header & {
                background-image: linear-gradient(180deg, transparent 98%, $color--black 0);
            }

            .newsletter--dark & {
                border-color: $color--white;
                color: $color--white;
            }

        }

        &::placeholder {
            @include font-size(default);
            color: $color--warm-grey2;

            .newsletter--dark & {
                color: $color--off-white;
            }

        }

        .newsletter--dark & {
            color: $color--white;
            border-color: $color--off-white;
            min-width: 0;
            width: auto;

            @include media-query(tablet) {
                width: 100%;
            }

        }

    }

    &__textarea {
        @include gutter(0.1, 0.2, 0.1, 0.2);
        @include font-size(s);
        min-width: 300px;
        min-height: 100px;
        width: 100%;
        cursor: pointer;
        border: 1px solid $color--warm-grey4;
    }


    &__checkbox-container {
        display: flex;
        flex-wrap: wrap;
    }

    &__radio-item,
    &__checkbox-item {
        @include font-size(default);
        display: flex;
        align-items: center;
        color: rgba($color--black, 0.7);
        margin-bottom: ($grid / 4);

        [type='radio'],
        [type='checkbox'] {
            margin-right: ($grid / 4);
        }

        .newsletter--dark & {
            color: $color--off-white;
        }

    }

    &__checkbox-item {
        flex-basis: 100%;
        min-width: 100%;
        margin-bottom: ($grid / 4);

        @include media-query(laptop) {
            flex-basis: 50%;
            min-width: 50%;

            .newsletter & {
                flex-basis: 100%;
                min-width: 100%;

                // Mailchimp overrides
                ul {
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                }

                label {
                    display: flex;
                    align-items: center;
                }

                input {
                    min-width: 0;
                    width: auto;
                }

            }

        }

    }

    &__required {
        font-weight: 700;
        color: $color--primary;

        .newsletter & {
            color: $color--white;
        }

    }

    &__description {
        @include font-size(xxs);
        margin-top: ($grid / 4);
        color: rgba($color--black, 0.5);

        &--important {
            font-weight: 700;
        }

    }

}
