<div class="hamburger">
  <span class="hamburger__bun--top"></span>
  <span class="hamburger__patty hamburger__patty--top"></span>
  <span class="hamburger__patty hamburger__patty--bottom"></span>
  <span class="hamburger__bun hamburger__bun--bottom"></span>
</div>
