.introduction {
    $root: &;

    &__text {
        @include font-size(m);
        color: $color--warm-grey2;

        @include media-query(tablet) {
            @include font-size(l);
        }

    }

    a {
        color: $color--primary;

        &:hover {
            color: $color--black;
        }

        .page-heading & {
            @include gutter(0.5, 0, 0, 0);
            display: block;
            text-decoration: none;
            color: $color--white;

            &:hover {
                color: $color--white;
                text-decoration: underline;
            }

        }

    }

}
