.introduction {
    $root: &;

    &__text {
        @include font-size(m);
        color: $color--warm-grey2;

        @include media-query(tablet) {
            @include font-size(l);
        }

    }

    a {
        color: $color--primary;

        &:hover {
            color: $color--black;
        }

        .page-heading & {
            @include gutter(0.5, 0, 0, 0);
            display: block;
            text-decoration: none;
            color: $color--white;

            &:hover {
                color: $color--white;
                text-decoration: underline;
            }

        }

    }

    // Template specifiec

    .page__primary-content & {

        #{$root}__container {
            @include gutter(0, 0, 0.75, 0);
        }

    }

    .template__standard & {

        #{$root}__container {
            @include gutter(0, 0, 0, 0, true);
        }

    }

    .template__error & {
        position: relative;
        z-index: 3;

        #{$root}__text {
            color: $color--black;
            max-width: ($grid * 20);
        }

        a {
            color: $color--black;
            text-decoration: underline;
            display: inline;

            &:hover {
                color: $color--black;
                opacity: 0.8;
            }

        }

    }

    .template__innovate & {

        #{$root}__text {
            max-width: ($grid * 20);
        }

    }

    .hero--section & {

        #{$root}__text {
            line-height: 1.4;
            font-weight: 500;
            margin-bottom: 0;
            color: $color--black;
        }

    }

    .template__listing & {

        #{$root}__text {
            color: $color--warm-grey6;
        }

    }

    .page-heading--full & {
        max-width: ($grid * 30);
    }

    // Themes

    .page__header--dark & {

        #{$root}__text {
            color: $color--warm-grey6;
        }

    }

}
