<div class="back-to-top js-sticky">
    <a aria-label="Back to top" class="back-to-top__container js-slowscroll" href="#page-top">
        <div class="back-to-top__label">
            Back to top
        </div>
        <svg class="back-to-top__icon" width="21px" height="21px">
            <use xlink:href="#arrow-up"></use>
        </svg>
    </a>
</div>
