.listing {
    $root: &;

    &--related {
        @include gutter(1.5, 0, 1.5, 0);
        background-color: $color--warm-grey4;
    }

    &--latest-feed {
        @include gutter(2, 0, 2, 0);
    }

    &--team {
        @include aligner;

        .listing-loader {
            @include aligner;
        }

    }

    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        &--loader {
            align-items: center;
            justify-content: center;
        }

    }

    &__no-results {
        @include gutter(1.5, 0, 1.5, 0);
    }

}


// Animation
.js-slide-in {
    opacity: 0;
}

.come-in {
    opacity: 1;
    transform: translateY(150px);
    animation: come-in 0.8s ease forwards;
}

.come-in:nth-child(odd) {
    animation-duration: 0.6s;
}

.already-visible {
    opacity: 1;
    transform: translateY(0);
    animation: none;
}

@keyframes come-in {
    to { transform: translateY(0); }
}
