.breadcrumb {
    $root: &;
    flex-basis: 100%;
    min-width: 100%;

    &__container {
        @include gutter(0, 0, 0.5, 0);
        display: flex;
    }

    .template__listing & {
        display: none;
    }

    .page-heading--centered & {

        #{$root}__container {
            justify-content: center;

            @include media-query(laptop) {
                justify-content: flex-start;
            }

        }

    }

}
