<div class="streamfield__image image-caption">
    <div class="streamfield__image-item image-caption__container">
        <img class="image-caption__item" src="../../../images/info-graphic2.png" alt="" />
        <div class="streamfield__image-caption image-caption__caption">
            <p class="image-caption__caption-text">
                This is an image caption
            </p>
        </div>
    </div>
</div> <!-- /image-caption -->
