{% if title %}
<div class="listing-header">

    <div class="listing-header__container">

        <h2 class="listing-header__label">
            <span class="listing-header__label-total filter-count"></span>
            {{ title }}
        </h2>

    </div>

</div>
{% endif %}
