{% extends "@templates/__app.twig" %}

{% block app__page %}

    <div class="page__header">

        {% include "@molecules/hero/hero.twig" with hero %}

        <span class="anchor" id="content"></span>

    </div>

    <div class="page__content">

    </div>

{% endblock %}
