.social-links {
    $root: &;
    @include gutter(0, 0, 0.5, 0);

    @include media-query(laptop) {
        @include gutter(0, 0, 0, 0);
    }

    &__container {
        @include gutter(0, 0, 0.5, 0);
        border-bottom: 1px dotted $color--border-light;
        display: flex;
        list-style-type: none;
        margin: 0;

        @include media-query(laptop) {
            @include gutter(0, 0, 0, 0);
            border-bottom: 0;
        }

    }

}
