<div class="dropdown">
    <div class="dropdown__container">
        <div class="dropdown__content">
            <p class="dropdown__text">{{ more }}</p>
            <div class="dropdown__btn btn btn--transparent">
                <div class="dropdown__btn-label">Find out more</div>
                <svg class="dropdown__btn-icon" width="42px" height="42px">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </div>
        </div>
    </div>
</div>
