<nav class="priority-nav">
    <div class="priority-nav__menu">
        {% for item in audienceNavigation %}
        <div class="priority-nav__menu__item">
            {% include "@molecules/links/priority-link/priority-link.twig" with item %}
        </div>
        {% endfor %}
    </div>
</nav>
