// sass-lint:disable no-vendor-prefixes
.progress-bar {
    position: fixed; // could be sticky
    z-index: 11;
    top: 0;
    left: 0;
    right: 0;
    vertical-align: top;
    width: 100%;
    height: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    overflow: hidden;
    background-color: transparent;

    &::-webkit-progress-bar {
        background-color: transparent;
    }

    &::-webkit-progress-value {
        opacity: 1;
        background-color: $color--secondary;
    }

    &__container {
        width: 100%;
        background-color: transparent;
        position: fixed;
        top: 0;
        left: 0;
        height: 3px;
        display: block;
    }

    &__bar {
        background-color: $color--secondary;
        width: 50%;
        display: block;
        height: inherit;
    }

    .template__home &,
    .template__section & {
        display: none;
    }

}
// sass-lint:enddisable
