.iframe {
    $root: &;
    position: relative;
    z-index: 0;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;

    &--full {
        padding: 0;
        height: auto;
        margin-bottom: ($grid * 4);
        margin-top: -($grid * 2);

        #{$root}__item {
            position: static;
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
        }

    }

    &--non-responsive {
        height: auto;
        padding-bottom: 0;
    }

    &__item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .page__primary-content & {
        margin-bottom: ($grid * 2);
    }

}

.responsive-object {
    position: relative;
    z-index: 0;
    height: 0;
    overflow: hidden;
    margin-bottom: ($grid * 2);

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

}
