<div class="footer-links">
    <div class="footer-links__container">
        <div class="footer-link-item">
            &copy; 2017 Project name
        </div>
        <div class="footer-link-item">
            <a class="footer-link-item__link" href="#">Terms &amp; Conditions</a>
        </div>
        <div class="footer-link-item">
            <a class="footer-link-item__link" href="#">Press Releases</a>
        </div>
        <div class="footer-link-item">
            Project name is a registered charity in England and Wales 1144091 and Scotland SC042833.
        </div>
    </div>
</div> <!-- /footer-links -->
