<div class="page-navigation">
    <div class="page-navigation__container">
        <!-- <a class="page-navigation__link page-navigation__link--prev btn" href="#">
            Prev
            <div class="page-navigation__meta meta">Section</div>
        </a> -->
        <a class="page-navigation__link page-navigation__link--next btn btn--primary" href="#">
            <span class="btn__container">
                Next section: Matching crowdfunding
            </span>
        </a>
    </div>
</div>
