.accordion {
    $root: &;
    margin-bottom: ($grid);

    @include media-query(laptop) {
        margin-bottom: ($grid * 1.5);
    }

    &__item {
        border-bottom: 1px solid $color--border-light;

        &:hover {

            #{$root}__icon {
                fill: $color--black;
            }

        }

        &:first-child {
            border-top: 1px solid $color--border-light;
        }

        &.open {

            #{$root}__icon {
                transform: rotate(180deg);
            }

            #{$root}__content {
                max-height: 9999px;
                height: auto;
                opacity: 1;
                pointer-events: auto;
            }

            #{$root}__heading {
                color: $color--link;
            }

        }

    }

    &__content {
        max-height: 0;
        pointer-events: none;
        height: auto;
        opacity: 0;
        background-color: transparent;
        // sass-lint:disable indentation
        transition: max-height $default-transition-speed ease 0s,
                    opacity ($default-transition-speed) ease 0s;
        // sass-lint:enddisable
    }

    &__content-container {
        padding: ($grid) ($grid) 0;
        overflow: hidden;
    }

    &__header {
        display: flex;
        align-items: center;
        padding: ($grid / 2) 0;
        cursor: pointer;
    }

    &__heading {
        @include font-size(s);
        font-weight: 500;
        margin-bottom: 0;
        color: $color--black;
        transition: color $default-transition-speed ease 0s;

        @include media-query(tablet) {
            @include font-size(m);
        }

    }

    &__heading-meta {
        font-weight: 500;
    }

    &__icon {
        fill: $color--primary;
        margin-right: ($grid / 4);
    }

    &__action {
        margin-bottom: ($grid);
    }

}
