<div class="pagination">
    <div class="pagination__container">
        {% for item in items %}
            {% include "@organisms/navigation/pagination/pagination-item.twig" with item %}
        {% endfor %}
    </div> 
</div> <!-- /pagination -->
