.footer {
    border-top: 3px solid rgba($color--border, 0.2);
    background-color: $color--white;

    &__container {
        @include gutter(0.75, 0.5, 0.75, 0.5);
        @include aligner;
        display: flex;
        flex-direction: column;

        @include media-query(wide) {
            @include gutter(0.75, 0, 0.75, 0);
        }

    }

    &__icons {
        @include gutter(0, 0, 0.5, 0);
        position: relative;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;

        @include media-query(laptop) {
            flex-direction: row;
        }

    }

    .template__data & {
        display: none;
    }

}
