<div class="footer">
    <div class="footer__container">
        <div class="footer__icons">
            {% include "@molecules/social-links/social-links.twig" %}
            {% include "@molecules/footer-links/footer-links.twig" %}
        </div>
        {% if footerCopyright %}
        <div class="footer-link-item">
            &copy; {{ footerCopyright }}
        </div>
        {% endif %}
    </div>
</div>
